
/* 이벤트 리스트*/
#event .list > a{width: 33.33% }
#event .list {width: 100%;display: flex;flex-flow: row wrap;margin-top: 61.5px;margin-bottom: 81.5px;}
#event .item {text-align: left;margin:0px 10px 40px;}
#event .item .txt_wrap {padding: 26px 0px 68px 22px;}
#event .item .address {margin-top: 7px;}
#event .cont_wrap {text-align: center;}
#event .list > a .item {width:auto}
#event .list > a .item .img{width:auto;overflow:hidden;height:240px;position:relative}
#event .list > a .item .img img{width:100%;position:absolute;left: 50%;top:50%;transform: translate(-50%,-50%) scale(1);transition: transform 1s ease;}
#event .list > a:hover .item .img img{transform: translate(-50%,-50%) scale(1.1);}

/* 이벤트 뷰 */
#event .view {border-top: 2px solid #000;border-bottom: 1px solid #ccc;text-align: left;padding: 47.4px 0px 66.5px;margin-bottom: 80.5px;}
#event .view .date {margin: 11px 0px 44px;}

#event .item .noimg {width: 378px;height: 254px;background-color:#f9f9f9;display:block;overflow:hidden;}

/* .event_list {display:none;} */